<br>
<button pButton class="p-button-outlined p-button-info" (click)="dividirPersona()"> Cortar Listado </button> <p-toast key="Dividir"></p-toast>

    <!--Tabla-->
<app-tabla [PersonaClass] = "personas" (OnEliminar)="eliminar($event)"></app-tabla>

<br><br><br><br>

<div class="flex flex-wrap justify-content-around"> 
    <div  *ngFor="let persona of personas">
        <app-listado  
        [id] = "persona.id"
        [nombre] = "persona.nombre"
        [apellido]="persona.apellido"
        [Ocupacion]="persona.ocupacion"
        [biografia]="persona.bio"
        (OnEliminar)="eliminar($event)"
        ></app-listado>
    
    </div>
</div>


        


